@import "tailwindcss";
@import "tw-animate-css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------------------------------- Fade In ---------------------------------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.fade-in-quick {
  animation: fadeIn 1s ease-in forwards;
}

.fade-in-delay {
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1.5s;
  /* Delay before starting */
}

.light-fade {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s;
}

/* ----------------------------- Swipe down ------------------------------- */

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-1.25rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  opacity: 0;
  animation: fade-in-down 0.7s ease-out forwards;
}

/* ------------------------------- Delays --------------------------------- */

.delay-0-3 {
  animation-delay: 0.3s;
}

.delay-0-6 {
  animation-delay: 0.6s;
}

.delay-0-9 {
  animation-delay: 0.9s;
}

.delay-1 {
  animation-delay: 1.1s;
}

.delay-2 {
  animation-delay: 1.2s;
}

.delay-3 {
  animation-delay: 1.3s;
}

.delay-4 {
  animation-delay: 1.4s;
}

.delay-5 {
  animation-delay: 1.5s;
}

.delay-6 {
  animation-delay: 1.6s;
}

.delay-7 {
  animation-delay: 1.7s;
}

.delay-8 {
  animation-delay: 1.8s;
}

.delay-9 {
  animation-delay: 1.9s;
}

.delay-10 {
  animation-delay: 2s;
}

.delay-11 {
  animation-delay: 2.1s;
}

.delay-12 {
  animation-delay: 2.2s;
}

.delay-13 {
  animation-delay: 2.3s;
}

.delay-14 {
  animation-delay: 2.4s;
}

.delay-15 {
  animation-delay: 2.5s;
}

/* -------------------------------- Light swipe down ---------------------------------- */

@keyframes swipe-down-light {
  0% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(0);
  }
}

.swipe-down-light {
  animation: swipe-down-light 1s ease-in-out;
}

/* --------------------------------- Swipe from left -------------------------------- */

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  opacity: 0;
  animation: fade-in-left 0.7s ease-out forwards;
}

.swipe-in-left {
  opacity: 0;
  animation: fade-in-left 0.8s ease-in forwards;
}

.has-loaded {
  opacity: 1;
  transform: translateX(0);
}

.group:hover .fade-in-left {
  opacity: 1;
  animation: fade-in-left 0.7s ease-out forwards;
}

.center-justified {
  text-align: justify;
  text-align-last: center;
}

/* ------------------------------ Infinite Logo Scroll ---------------------------- */

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

.infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

.fade-wrapper {
  position: relative;
  overflow: hidden;
  background: transparent;

  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.fade-wrapper::before,
.fade-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to right, transparent, transparent);
}

.fade-wrapper::after {
  right: 0;
  background: linear-gradient(to left, transparent, transparent);
}

/* ---------------- Background --------------- */

@theme inline {
  --animate-aurora: aurora 60s linear infinite;

  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }

    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}


.gradient-text {
  background: linear-gradient(90deg, #77d7d9, #9242c7, #ffffff);
  /* your gradient */
  -webkit-background-clip: text;
  /* clip background to text */
  -webkit-text-fill-color: transparent;
  /* make text transparent to show bg */
  background-clip: text;
  /* standard property */
  color: transparent;
  /* fallback for non-webkit */
}