@import "tailwindcss";
@import "tw-animate-css";



/* ------------------------------- Fade In ---------------------------------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.fade-in-quick {
  animation: fadeIn 1s ease-in forwards;
}

.fade-in-delay {
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1.5s; /* Delay before starting */
}

.light-fade {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s;
}

/* ----------------------------- Swipe down ------------------------------- */

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  opacity: 0;
  animation: fade-in-down 0.7s ease-out forwards;
}

/* ------------------------------- Delays --------------------------------- */

.delay-0-3 {
  animation-delay: 0.3s;
}
.delay-0-6 {
  animation-delay: 0.6s;
}
.delay-0-9 {
  animation-delay: 0.9s;
}

.delay-1 {
  animation-delay: 1.1s;
}
.delay-2 {
  animation-delay: 1.2s;
}
.delay-3 {
  animation-delay: 1.3s;
}
.delay-4 {
  animation-delay: 1.4s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.6s;
}
.delay-7 {
  animation-delay: 1.7s;
}
.delay-8 {
  animation-delay: 1.8s;
}
.delay-9 {
  animation-delay: 1.9s;
}
.delay-10 {
  animation-delay: 2s;
}
.delay-11 {
  animation-delay: 2.1s;
}
.delay-12 {
  animation-delay: 2.2s;
}
.delay-13 {
  animation-delay: 2.3s;
}
.delay-14 {
  animation-delay: 2.4s;
}
.delay-15 {
  animation-delay: 2.5s;
}

/* -------------------------------- Light swipe down ---------------------------------- */

@keyframes swipe-down-light {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0);
  }
}

.swipe-down-light {
  animation: swipe-down-light 1s ease-in-out;
}

/* --------------------------------- Swipe from left -------------------------------- */

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  opacity: 0;
  animation: fade-in-left 0.7s ease-out forwards;
}

.swipe-in-left {
  opacity: 0;
  animation: fade-in-left 0.8s ease-in forwards;
}

.has-loaded {
  opacity: 1;
  transform: translateX(0);
}

.group:hover .fade-in-left {
  opacity: 1;
  animation: fade-in-left 0.7s ease-out forwards;
}

.center-justified {
  text-align: justify;
  text-align-last: center;
}

/* ------------------------------- Animated Glowing Border -------------------------- */

@property --clr-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(111, 93, 111);
}
@property --clr-2 {
  syntax: "<color>";
  inherits: true;
  initial-value:  rgb(145, 150, 190);
}
@property --clr-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(1, 83, 93);
}

@property --glow-deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: -0deg;
}

@keyframes glow {
  100% {
    --glow-deg: 360deg;
  }
}

.glowing-border {
--glow-gradient: var(--clr-1), var(--clr-2), var(--clr-3), var(--clr-1);
--glow-intensity: 0.25;
--glow-size: 1rem;
--border-width: 3px;

  margin-block: 1rem;
  /* padding: 8rem 3rem; */
  max-width: 100ch;

  border: var(--border-width, 3px) solid transparent;
  border-radius: 1rem;
  background: 
    linear-gradient(rgb(29, 28, 28) 0 0) padding-box,
    conic-gradient(from var(--glow-deg), var(--glow-gradient)) border-box;
  position: relative;
  isolation: isolate;

  animation: glow 4s infinite linear; 
}

.glowing-border::before,
.glowing-border::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}

.glowing-border::before {
  z-index: -1;
  background: rgb(29, 28, 28);
  inset: 0.5rem;
  filter: blur(var(--glow-size, 1rem));
}

.glowing-border::after {
  z-index: -2;
  inset: -1.5rem;
  background: conic-gradient(from var(--glow-deg), var(--glow-gradient));
  filter: blur(var(--glow-size, 1rem));
  opacity: var(--glow-intensity, 0.125);
}

.glow-1 {
  animation-delay: 0s;
}

.glow-2 {
  animation-delay: 1.33s;
}

.glow-3 {
  animation-delay: 2.66s;
}

/* --------------------------------- Glowing Bulb ----------------------------- */


.glowing-light {
  background: linear-gradient(
    calc(var(--glow-deg) + 90deg),
    var(--clr-1) 0%,
    var(--clr-2) 33%,
    var(--clr-3) 66%,
    var(--clr-1) 100%
  );
  background-size: 200% 200%; 
  animation: glow 10s linear infinite;
  filter: blur(8px);
  opacity: 0.9;
}

/* ------------------------------ Infinite Logo Scroll ---------------------------- */

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

.infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

.fade-wrapper {
  position: relative;
  overflow: hidden;
  background: transparent;

  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.fade-wrapper::before,
.fade-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to right, transparent, transparent);
}

.fade-wrapper::after {
  right: 0;
  background: linear-gradient(to left, transparent, transparent);
}

/* ---------------- Background --------------- */

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}